.container{
    padding: 40px 25px 180px;
    .title{
        color: #0A3068;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.14em;
        line-height: 2.7;
        margin: 0 0 20px 0;
        text-transform: uppercase;
    }
}