// variable
// -------------

// about mufg color
$mufg-red: #e60000;

// Monochrome color
$mono-black: #000000;
$mono-white: #ffffff;
$mono-gray: #333333;
// text color
$text-1: #000000;
$text-2: #646464;
$text-3: #b9b9b9;
$text-4: #ebebeb;
$text-white: #ffffff;
$text-gray-4: #444444;
// Background color
$bg-red: #fff4f4;
$bg-gray: #EAEBF3;
$bg-white: #ffffff;
// primary color
$primary-shade-3: #4b0000;
$primary-shade-2: #960000;
$primary-shade-1: #e10000;
$primary-default: #ff2d2d;
$primary-tint-1: #ff6262;
$primary-tint-2: #ff9696;
$primary-tint-3: #ffcbcb;
// Secondary color

$secondary-1: #e4e8ea;
$secondary-2: #bfc8cd;
$secondary-3: #9aa9b0;
$secondary-4: #758993;
$secondary-5: #57676f;
$secondary-6: #3a454a;
$secondary-7: #1d2225;
$secondary-8: #f9f9f9;
// Accent yellow color
$accent-y-1: #fff9d8;
$accent-y-2: #fff3b2;
$accent-y-3: #fce87c;
$accent-y-4: #ffe764;
$accent-y-5: #ffe764;
$accent-y-6: #b29600;
$accent-y-7: #594b00;
// Accent orange color
$accent-o-1: #ffe2c3;
$accent-o-2: #ffc486;
$accent-o-3: #ffa74a;
$accent-o-4: #ff890d;
$accent-o-5: #c96700;
$accent-o-6: #864500;
$accent-o-7: #432200;
// Accent green color
$accent-g-1: #dcf1da;
$accent-g-2: #bae3b5;
$accent-g-3: #97d490;
$accent-g-4: #75c66b;
$accent-g-5: #4ba540;
$accent-g-6: #326e2a;
$accent-g-7: #193715;
$accent-g-8: #27ae60;
// Accent blue color
$accent-b-1: #ddebf3;
$accent-b-2: #bad6e6;
$accent-b-3: #97c2da;
$accent-b-4: #75adce;
$accent-b-5: #3f88b3;
$accent-b-6: #2a5b77;
$accent-b-7: #152d3c;
// Accent purple color
$accent-p-1: #e9ddf3;
$accent-p-2: #d3bae6;
$accent-p-3: #bd97da;
$accent-p-4: #a775ce;
$accent-p-5: #803fb3;
$accent-p-6: #562a77;
$accent-p-7: #2b153c;

// font weight
$regular: 400;
$bold: 700;
// max screen
$max-width: 428px;
// height header

%limit-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
