.container {
  border-radius: 20px;
  min-height: 281px;
  box-shadow: -5px -5px 15px #ffffff;
  position: relative;
  padding: 0 16px;
  overflow-y: scroll;
  &::-webkit-scrollbar{
      display: none;
  }
  &::before {
    border-radius: 20px;
    box-shadow: 5px 10px 15px #3e437e;
    bottom: 0;
    content: "";

    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .trendingItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    .text {
      color: #000;
      font-size: 1.3rem;
      letter-spacing: 0.03em;
      line-height: 1.7;
      opacity: 0.5;
    }
    .image {
      height: 60px;
      width: 60px;
      border-radius: 100%;
    }
    .content {
      display: flex;
      justify-content: space-between;
      min-width: 236px;
      .contentLeft {
        .title {
          color: #000;
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 0.03;
          line-height: 2;
        }
      }
    }
  }
}
